.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #003366;
}

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-image: url(rawpixel.png);
}

.container {
    margin: 0 auto;
    width: 940px;
}

header {
    position: relative;
    font: bold;
    font-size: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: indigo;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes a:hover {
    color: #007DC6;
}

.menu-opcoes a:active {
    color: #867DC6;
}

.menu-departamentos {
    background-color: #DCDCDC;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.menu-departamentos li li a:before {
    content: '\273E';
    padding-right: 3px;
}

.menu-departamentos li ul {
    display: none;
}

.menu-departamentos li:hover ul {
    display: block;
}

.menu-departamentos ul ul li {
    background-color: #DCDCDC;
}

.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.destaque {
    margin-top: 10px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
    border-radius: 4px;
    box-shadow: inset 1px 1px 4px #999;
}

.novidades {
    float: left;
    background-color: #F5DCDC;
    background: linear-gradient(#F5DCDC, #BEBEF4);
}

.mais-vendidos {
    float: right;
    background-color: #DCDCF5;
    background: linear-gradient(#DCDCF5, #F4BEBE);
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
    transition: 0.7s ease-out;
}

.painel li:hover {
    box-shadow: 0 0 5px #333;
    transition: box-shadow 0.7s ease-in;
    background-color: rgba(255,255,255,0.8);
    transform: scale(1.1) rotate(-5deg);
}

.painel li:nth-child(2n):hover {
    transform: scale(1.1) rotate(5deg);
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 3px 3px 2px rgba(255,255,255,0.8);
}

.painel h2:before {
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

footer {
    clear: both;
    padding: 20px 0;
    background-image: url(fundo-rodape.png);
}

footer .container {
    position: relative;
}

.social {
    position: absolute;
    top: 12px;
    right: 0;
}

.social li {
    float: left;
    margin-left: 25px;
}

.social a {
    /* tamanho da imagem */
    height: 32px;
    width: 32px;
    /* image replacement */
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(googleplus.png);
}

@media (max-width: 939px) {
    /* adicionar aqui os novos estilos para mobile */
    
    .container {
        width: 96%;
    }
    
    header h1 {
        text-align: center;
    }
    
    header h1 img {
        max-width: 50%;
    }
    
    .sacola {
        display: none;
    }
    
    .menu-opcoes {
        position: static;
        text-align: center;
    }
    
    .menu-opcoes ul li {
        display: inline-block;
        margin: 5px;
    }
    
    .menu-departamentos,
    .banner-destaque img {
        margin-right: 0;
        width: 100%;
    }
    
    .painel {
        width: auto;
    }
    
    .painel li {
        width: 30%;
    }
    .painel img {
        width: 100%;
    }
    
    @media (min-width: 480px) {
        header h1 {
            margin: 5px 0;
        }
        
        .menu-departamentos {
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        
        .menu-departamentos nav > ul {
            column-count: 2;
        }
    }
    
    @media (min-width: 720px) {
        header h1 {
            text-align: left;
        }
        
        .menu-opcoes {
            position: absolute;
        }
        
        .sacola {
            display: block;
        }
        
        .painel li {
            width: 15%;
        }
        
        .menu-departamentos {
            margin-right: 1%;
            width: 30%;
        }
        
        .menu-departamentos nav > ul {
            column-count: 1;
        }
        
        .banner-destaque img {
            width: 69%;
        }
    }
}